<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About Me</title>
        <link rel="icon" href="/img/weather.png"> 
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Brandi Nicolls following an online Udemy course. It pulls data from Mapbox and DarkSky APIs!</p>
            <img class="portrait" src="/img/me.jpg">
        </div>
    </body>
    <footer>
        {{>footer}}
    </footer>

</html>